{{- if and .Values.frontend.ingress.enabled .Values.traefik.middlewareEnabled -}}
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: redirectscheme
  namespace: {{ .Values.global.namespace }}
spec:
  redirectScheme:
    scheme: https
    permanent: true
{{- end }}