{{- if .Values.frontend.ingress.enabled }}
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: {{ .Values.global.namespace }}-redirectscheme
  namespace: {{ .Values.global.namespace }}
spec:
  redirectScheme:
    scheme: https
    permanent: true
{{- end }}