name: Deploy to Production

on:
  workflow_dispatch:
    inputs:
      backend_image_tag:
        description: 'Backend image tag to deploy'
        required: true
        default: 'latest'
      frontend_image_tag:
        description: 'Frontend image tag to deploy'
        required: true
        default: 'latest'
  repository_dispatch:
    types: [deploy-production]

env:
  REGISTRY: ghcr.io

jobs:
 deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup kubectl
      uses: azure/setup-kubectl@v3
      with:
        version: 'latest'
        
    - name: Setup Helm
      uses: azure/setup-helm@v3
      with:
        version: 'latest'

    - name: Add Helm repositories
      run: |
        helm repo add bitnami https://charts.bitnami.com/bitnami
        helm repo add ingress-nginx https://kubernetes.github.io/ingress-nginx
        helm repo add jetstack https://charts.jetstack.io
        helm repo update

    - name: Install k3s
      run: |
        curl -sfL https://get.k3s.io | sh -
        export KUBECONFIG=/etc/rancher/k3s/k3s.yaml
        sudo chmod 644 /etc/rancher/k3s/k3s.yaml
        kubectl cluster-info
        kubectl get nodes

    - name: Verify cluster connectivity
      run: |
        kubectl cluster-info
        kubectl get pods -A
        
    - name: Update Helm release
      run: |
        helm dependency update ./charts/notes-app
        kubectl delete secret notes-app-db-secret notes-app-app-secret --namespace note || true
        kubectl delete secret notes-app-postgresql --namespace note || true
        helm uninstall notes-app --namespace note || true
        helm repo add bitnami https://charts.bitnami.com/bitnami
        helm repo update
        helm upgrade --install notes-app ./charts/notes-app \
          --set backend.image.repository=${{ env.REGISTRY }}/${{ github.repository_owner }}/notes-backend \
          --set backend.image.tag=${{ github.event.inputs.backend_image_tag }} \
          --set backend.image.pullPolicy=IfNotPresent \
          --set frontend.image.repository=${{ env.REGISTRY }}/${{ github.repository_owner }}/notes-frontend \
          --set frontend.image.tag=${{ github.event.inputs.frontend_image_tag }} \
          --set frontend.image.pullPolicy=IfNotPresent \
          --set global.repositoryOwner=${{ github.repository_owner }} \
          --namespace note --create-namespace \
          -f ./charts/notes-app/values.yaml \
          --timeout 10m

    - name: Verify deployment
      run: |
        kubectl rollout status deployment/notes-app-backend --timeout=5m -n note
        kubectl rollout status deployment/notes-app-frontend --timeout=5m -n note

    - name: Run health checks
      run: |
        # Ждем пока ingress будет готов
        kubectl wait --for=condition=ready ingress/notes-app-ingress -n note --timeout=300s
        # Проверяем доступность сайта
        curl -f https://serv.temasuug.ru/health || exit 1